{
  "name": "PRlMOS_bots",
  "version": "1.0.0",
  "description": "The Best Bot Ever",
  "main": "bot.js",
  "author": "Jesus",
  "license": "ISC",
  "dependencies": {
    "discord.io": "https://github.com/woor/discord.io/tarball/gateway_v6",
    "discord.js": "^11.4.2",
    "opusscript": "0.0.6",
    "winston": "^3.2.1",
    "ytdl-core": "^0.29.1"
  }
}
